html,
body {
	height: 100%;

}

.page {
	width: 100%;
	z-index: 100;
	overflow: hidden;
	height: 100%;
	position: relative;
	background: $color-yellow;
}



.main {
	z-index: 100;
	height: 100%;
	position: relative;
	perspective: 2500px;
	transform: translateZ(1000px);

	&__wrap {
		height: 100%;
		transform-origin: 0% 50%;
		transform-style: preserve-3d;
		transform: translateX(0%);
		transition: transform 0.6s ease;
	}

	@media (min-width: $screen-lg-min) {


		&__wrap {

		}
	}
}


.fullpage-wrapper {
	background: $color-dark;
	width: 100%!important;
	transform: none!important;

	.fp-section {

		&.active {
			visibility: visible;
			opacity: 1;
			z-index: 1;
		}

		width: 100%!important;
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
		opacity: 0;
		z-index: 0;
		transition: all .3s ease-in-out;

		.fp-slidesContainer {
			width: 100%!important;
			transform: none!important;

			.fp-slide {
				&.active {
					visibility: visible;
					opacity: 1;
					z-index: 1;
				}

				width: 100%!important;
				position: absolute;
				left: 0;
				top: 0;
				visibility: hidden;
				opacity: 0;
				z-index: 0;
				transition: all .3s ease-in-out;
			}
		}
	}
}

.screen {
//	width: 100%;
//	height: 100%;
	color: #fff;
	position: relative;
	text-align: center;
	background: $color-dark;
//	@include flexbox();
//	@include flex-direction(column);

	&__wrap {
//		margin: auto 0;
	}

	@media (min-width: $screen-md-min) {

	}
}

.btn_next {
	left: 50%;
	z-index: 200;
	font-size: 0;
	line-height: 0;
	width: 24px;
	height: 14px;
	bottom: 20px;
	margin-left: -12px;
	position: fixed;
	display: inline-block;

	@media (min-width: $screen-md-min) {
		bottom: 60px;
		width: 46px;
		height: 26px;
		margin-left: -23px;
	}

	@media (min-width: $screen-xl-min) {
		display: none;
	}
}

.primary {
	color: $color-yellow;

	&__title {
		font-weight: 700;
		font-size: 4.8rem;
		line-height: 7.1rem;
		letter-spacing: 0.1em;

		color: $color-yellow;
		-webkit-text-stroke: 1px $color-yellow;
		text-stroke: 1px $color-yellow;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
	}

	&__text {
		font-weight: 400;
		font-size: 3.2rem;
		line-height: 4.7rem;
		margin-bottom: 48px;
	}

	@media (min-width: $screen-sm-min) {

		&__text {
			margin-bottom: 20px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 60px;

		&__title {
			font-size: 9.6rem;
			line-height: 14.2rem;
			letter-spacing: 0.1em;
			-webkit-text-stroke: 3px $color-yellow;
			text-stroke: 3px $color-yellow;
		}

		&__text {
			font-size: 6.4rem;
			line-height: 9.5rem;
			margin-bottom: 64px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__title {
			margin-bottom: 10px;
		}

		&__text {
			margin-bottom: 56px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}


	@media (min-width: $screen-xxl-min) {

		&__title {
			margin-bottom: 72px;
		}

		&__text {
			margin-bottom: 96px;
		}
	}
}

.about {

	&__title {
		font-weight: 700;
		font-size: 4.8rem;
		line-height: 7.1rem;
		letter-spacing: 0.1em;
		color: $color-yellow;

		color: $color-yellow;
		-webkit-text-stroke: 1px $color-yellow;
		text-stroke: 1px $color-yellow;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
	}

	&__text {
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2.4rem;
		max-width: 850px;
		margin: 0 auto;
	}

	@media (min-width: $screen-md-min) {

		&__title {
			font-size: 9.6rem;
			line-height: 14.2rem;
			letter-spacing: 0.1em;
			-webkit-text-stroke: 3px $color-yellow;
			text-stroke: 3px $color-yellow;
		}

		&__text {
			font-weight: 300;
			font-size: 2.4rem;
			line-height:3.6rem;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__title {
			margin-bottom: 10px;
		}
	}

	@media (min-width: $screen-xxl-min) {

		&__title {
			margin-bottom: 72px;
		}

	}
}

.advantage {

	&__title {
		font-size: 3rem;
		line-height: 4.4rem;
		letter-spacing: 0.03em;
	//	max-width: 840px;
		color: $color-yellow;
		margin: 0 auto 34px auto;
	}

	&__text {
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2.1rem;
		margin-bottom: 42px;
	}

	&__nav {
		width: 220px;
		margin: 0 auto;
		font-size: 3.4rem;
		line-height: 5rem;
		@include flexbox();
		@include justify-content(space-between);

		a {
			overflow: hidden;
			color: $color-yellow;
			text-decoration: none;
			display: inline-block;
			position: relative;
			padding-bottom: 2px;
		//	border-bottom: 2px solid transparent;

			&:before {
				left: 0;
				margin-left: -100%;
				width: 100%;
				bottom: 0;
				height: 2px;
				content: '';
				display: block;
				background: #fff;
				position: absolute;
				@include transition(.3s);
			}

			color: $color-yellow;
			-webkit-text-stroke: 1px $color-yellow;
			text-stroke: 1px $color-yellow;
			-webkit-text-fill-color: transparent;
			text-fill-color: transparent;
			@include transition(.3s);

			&:hover {
				color: $color-yellow;
				text-decoration: none;
				-webkit-text-fill-color: $color-yellow;
				@include transition(.3s);

				&:before {
					margin-left: 0;
					@include transition(.3s);
				}
			}

			&.active {
		//		border-bottom-color: #fff;
				-webkit-text-fill-color: $color-yellow;
				text-fill-color: $color-yellow;
				@include transition(.3s);

				&:before {
					margin-left: 0;
				}
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		&__title {
			margin-bottom: 20px;
		}

		&__text {
			margin-bottom: 20px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__title {
			font-size: 6.4rem;
			line-height: 9.5rem;
			margin-bottom: 54px;
		}

		&__text {
			font-size: 2.4rem;
			line-height: 3.6rem;
			margin-bottom: 60px;
		}

		&__nav {
			width: 305px;
			font-size: 4.8rem;
			line-height: 7.1rem;
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}

	@media (min-width: $screen-xxl-min) {

		&__title {
			margin-bottom: 72px;
		}

		&__text {
			margin-bottom: 64px;
		}
	}
}

.use {

	&__title {
		font-size: 3rem;
		line-height: 4.4rem;
		letter-spacing: 0.03em;
		color: $color-yellow;
		margin: 0 auto 34px auto;
	}

	&__content {
		max-width: 1050px;
		font-weight: 300;
		font-size: 1.4rem;
		line-height: 2.1rem;
		letter-spacing: 0.03em;
		margin: 0 auto 42px auto;
	}

	&__data {

		&_row {
			@include flexbox();
			@include align-items(center);
		}

		&_chart {
			display: none;
		}

		&_scale {
			width: 100%;
			height: 8px;
			display: block;
			position: relative;
			border: 1px solid #fff;
			@include border-radius(8px);

			span {
				top: 0;
				left: 0;
				bottom: 0;
				display: block;
				position: absolute;
				background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EFBB69;
				@include border-radius(6px);

				&:before {
					left: 100%;
					top: -11px;
					width: 30px;
					height: 28px;
					content: '';
					margin-left: -15px;
					position: absolute;
					background: url("../img/icon__chart_point.svg") 50% 50% no-repeat;
				}
			}
		}

		&_text {
			@include flex-grow(1);
		}

		&_link {
			color: #fff;
			text-decoration: none;
			display: inline-block;
			border-bottom: 1px solid #fff;

			&:hover {
				color: #fff;
				text-decoration: none;
				border-bottom-color: transparent;
			}
		}
	}

	&__text {
		max-width: 850px;
		margin: 0 auto;
	}

	&__nav {
		margin: 0 -8px;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2.4rem;
		letter-spacing: 0.1em;
		@include flexbox();
		@include justify-content(center);


		a {
			margin: 0 8px;
			color: $color-yellow;
			text-decoration: none;
			display: inline-block;
			white-space: nowrap;
			border-bottom: 1px solid transparent;

			@include transition(.3s);

			&:hover {
				color: $color-yellow;
				border-bottom-color: #fff;
				@include transition(.3s);
			}

			&.active {
				border-bottom-color: #fff;
				@include transition(.3s);
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__title {
			margin-bottom: 20px;
		}

		&__content {
			margin-bottom: 20px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__title {
			font-size: 6.4rem;
			line-height: 9.5rem;
			margin-bottom: 54px;
		}

		&__text {
			font-size: 2.4rem;
			line-height: 3.6rem;
		}

		&__content {
			font-size: 2.4rem;
			line-height: 3.6rem;
			margin-bottom: 40px;
		}

		&__nav {
			margin: 0 -16px;
			font-size: 3.2rem;
			line-height: 5.3rem;


			a {
				margin: 0 16px;
			}
		}

		@media (min-width: $screen-lg-min) {


			&__nav {
				font-size: 3.6rem;
			}
		}

	}

	@media (min-width: $screen-xxl-min) {

		&__title {
			margin-bottom: 88px;
		}

		&__content {
			margin-bottom: 54px;
		}

		&__data {
			text-align: left;

			&_row {
				margin-bottom: 24px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&_chart {
				width: 300px;
				display: block;
				@include flex-shrink(0);
			}

			&_text {
				padding-left: 24px;
			}
		}
	}
}

.request {
	text-align: left;

	&__title {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2.4rem;
		text-align: center;
		margin-bottom: 16px;
		letter-spacing: 0.03em;
	}

	&__button {
		text-align: center;
		padding-top: 5px;
		margin-bottom: 25px;

		.btn {
			width: 100%;

			span {
				width: 100%;
			}
		}
	}

	&__privacy {
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.8rem;
		text-align: center;
		letter-spacing: 0.03em;

		a {
			color: #fff;
			text-decoration: underline;

			&:hover {
				color: #fff;
				text-decoration: none;
			//	border-bottom-color: transparent;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__row {
			margin: 0 -15px;
			@include flexbox();
		}

		&__col {
			width: 50%;
			padding: 0 15px;
			@include flex-shrink(0);
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 0;
		padding-bottom: 0;

		&__title {
			font-size: 3.6rem;
			line-height: 5.3rem;
			margin-bottom: 54px;
		}

		&__privacy {
			font-size: 1.4rem;
			line-height: 2.1rem;
			max-width: 440px;
			margin: 0 auto;
		}

		&__button {
			padding-top: 0;
			margin-bottom: 10px;

			.btn {
				width: 440px;
			}
		}

		&__form {
			max-width: 630px;
			margin: 0 auto;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 40px;

		&__title {
			margin-bottom: 34px;
		}

		&__form {
			max-width: 700px;
		}
	}

	@media (min-width: $screen-xl-min) {
	}


	@media (min-width: $screen-xxl-min) {

		&__title {
			margin-bottom: 64px;
		}

		&__button {
			padding-top: 10px;
			margin-bottom: 15px;
		}
	}
}


.nav {
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	height: 100vh;
	position: fixed;
	font-size: 2rem;
	font-weight: 500;
	line-height: 3rem;
	text-align: center;
	color: $color-dark;
	background: transparent;
	@include flexbox();
	@include flex-direction(column);

	&_tmp {
		bottom: 0;
	}

	&__close {
		top: 24px;
		right: 24px;
		z-index: 50;
		width: 40px;
		height: 40px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: absolute;
		display: inline-block;

		&:after,
		&:before {
			left: 50%;
			z-index: 1;
			width: 50px;
			height: 4px;
			content: '';
			position: absolute;
			display: inline-block;
			margin: 0 0 0 -25px;
			background: $color-dark;
			@include border-radius(2px);
			@include transition(.3s);
		}

		&:after {
			top: 50%;
			margin-top: 5px;
		}

		&:before {
			bottom: 50%;
			margin-bottom: 5px;
		}
	}

	&__wrap {
		margin: auto 0;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-transform: uppercase;

		li {
			padding: 15px 0;

			a {
				color: $color-dark;
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		font-size: 30px;
		line-height: 44px;

		&__close {
			top: 52px;
			right: 73px;
			width: 82px;
			height: 82px;

			&:after,
			&:before {
				width: 110px;
				height: 6px;
				margin: 0 0 0 -55px;
				@include border-radius(3px);
			}

			&:after {
				margin-top: 10px;
			}

			&:before {
				margin-bottom: 10px;
			}
		}

		ul {

			li {
				padding: 40px 0;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		text-align: right;

		&__close {
			top: 30px;
		}

		&__wrap {
			padding-right: 73px;
		}

		ul {
			height: calc(100vh - 420px);
			@include flexbox();
			@include flex-direction(column);
			@include justify-content(space-between);

			li {
				padding: 10px 0;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		font-size: 36px;
		line-height: 53px;

		&__close {
			top: 50px;
		}
	}
}

.header {
	top: 20px;
	left: 0;
	right: 0;
	z-index: 200;
	position: fixed;

	&__wrap {
		padding: 0 24px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__nav {
		z-index: 50;
		width: 40px;
		height: 40px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: relative;
		display: inline-block;

		&:after,
		&:before {
			left: 50%;
			z-index: 1;
			width: 50px;
			height: 3px;
			content: '';
			position: absolute;
			background: #D3D3D3;
			margin: 0 0 0 -25px;
			display: inline-block;
			@include border-radius(2px);
		}

		&:after {
			top: 50%;
			margin-top: 5px;
		}

		&:before {
			bottom: 50%;
			margin-bottom: 5px;
		}
	}

	&__order {
		color: #fff;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2.4rem;
		text-decoration: none;
		letter-spacing: 0.03em;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	&__logo {
		display: none;
		width: 164px;
		font-size: 0;
		line-height: 0;
	}

	@media (min-width: $screen-md-min) {
		top: 52px;

		&__wrap {
			padding: 0 72px 0 70px;
		}

		&__nav {
			width: 82px;
			height: 82px;

			&:after,
			&:before {
				width: 110px;
				height: 6px;
				margin: 0 0 0 -55px;
				@include border-radius(3px);
			}

			&:after {
				margin-top: 10px;
			}

			&:before {
				margin-bottom: 10px;
			}
		}

		&__order {
			font-size: 2.4rem;
			line-height: 3.6rem;
		}

		&__logo {
			width: 263px;
		}
	}

	@media (min-width: $screen-lg-min) {
		top: 30px;

		&__wrap {
			padding: 0 70px 0 60px;
		}
	}

	@media (min-width: $screen-xl-min) {
		top: 50px;

		&__wrap {
			padding: 0 73px 0 75px;
		}

		&__logo {
			width: 263px;
		}
	}
}


.nav_open {

	.nav {
		z-index: 999;
	}

	.nav__close {

		&:after {
			margin-top: -2px;
			@include rotate(45deg);
		}

		&:before {
			margin-bottom: -2px;
			@include rotate(-45deg);
		}
	}

	.main {
		perspective: 2500px;
		transform: translateZ(1000px);
	}

	.main__wrap {
		transform: translateZ(1000px);
		transform-origin: 0% 50%;
		transform-style: preserve-3d;
		transition: transform 0.6s ease;
		@include rotateY(110deg);
	}

	@media (min-width: $screen-lg-min) {

		.main__wrap {
			@include rotateY(55deg);
		}
	}

}

#pp-nav li .active span, .pp-slidesNav .active span {
	background: #fff;
}

#fp-nav {
	z-index: -1;
	opacity: 0;
	visibility: hidden;

	@media (min-width: $screen-xl-min) {
		opacity: 1;
		z-index: 200;
		visibility: visible;
	}
}

.fp-sr-only {
	font-size: 0;
	line-height: 0;
	color: $color-dark !important;
	z-index: -1 !important;
	opacity: 0 !important;
	visibility: hidden !important;
	display: none !important;
}

#fp-nav ul li .fp-tooltip {
	font-size: 0;
	line-height: 0;
	color: $color-dark !important;
	z-index: -1 !important;
	opacity: 0 !important;
	visibility: hidden !important;
	display: none !important;
}

#fp-nav ul li,
.fp-slidesNav ul li {
	width: 15px;
	height: 15px;
	margin: 20px 7px;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
	width: 15px;
	height: 15px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	width: 15px;
	height: 15px;
	background: #666;
	margin: 0 !important;
}

.fp-slidesNav ul li:hover a.active span.fp-sr-only,
.fp-slidesNav ul li a.active span.fp-sr-only,
#fp-nav ul li:hover a span.fp-sr-only,
.fp-slidesNav ul li:hover a span.fp-sr-only{
	font-size: 0;
	line-height: 0;
	z-index: -1 !important;
	opacity: 0 !important;
	visibility: hidden !important;
	display: none !important;
}


#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
	width: 15px;
	height: 15px;
	background: #fff;
	margin: 0 !important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	width: 15px;
	height: 15px;
	border-radius: 100%;
	margin: 0 !important;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
	width: 15px;
	height: 15px;
	margin: 0 !important;
}


.fp-viewing-firstPage {

	#fp-nav {
		z-index: -1 !important;
		opacity: 0 !important;
		visibility: hidden !important;
	}

	@media (min-width: $screen-xl-min) {

		#fp-nav {
			z-index: -1 !important;
			opacity: 0 !important;
			visibility: hidden !important;
		}
	}
}

.fp-viewing-5rdPage {

	.header__order {
		display: none;
	}

	.header__logo {
		display: block;
	}
}

.nav_open {

	#fp-nav {
		z-index: -1 !important;
		opacity: 0 !important;
		visibility: hidden !important;
	}

	@media (min-width: $screen-xl-min) {

		#fp-nav {
			z-index: -1 !important;
			opacity: 0 !important;
			visibility: hidden !important;
		}
	}
}



@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}