
.btn {
	color: #000;
	padding: 6px;
	outline: none;
	cursor: pointer;
	font-size: 2rem;
	font-weight: 500;
	line-height: 3rem;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	border: 3px solid #EFBB69;
	text-transform: uppercase;
	@include border-radius(6px);
	@include transition(.3s);

	span {
		padding: 11px 45px;
		position: relative;
		display: inline-block;
		background: $color-yellow;
		@include border-radius(5px);
	}


	&:hover {
		color: #000;
		text-decoration: none;
		background: transparent;
		@include transition(.3s);

		span {
			background: $color-yellow;
		}
	}

	&:active {
		color: #000;
		background: transparent;

		span {
			background: $color-yellow;
		}
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	@media (min-width: $screen-lg-min) {

		&:hover {
			color: $color-yellow;
			background: transparent;

			span {
				background: #000;
			}
		}

		&:active {
			color: $color-yellow;
			background: transparent;

			span {
				background: #000;
			}
		}

		&:focus,
		&.focus {
			outline: 0;
		}
	}
}

.btn_md {

	@media (min-width: $screen-md-min) {
		padding: 16px;
		font-weight: 500;
		font-size: 3.6rem;
		line-height: 4rem;

		span {
			padding: 22px 56px;
		}
	}

}