.form_control {
	margin: 0;
	width: 100%;
	border: none;
	outline: none;
	height: 30px;
	z-index: 5;
	position: relative;
	padding: 3px 0 5px 0;
	color: #fff;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 2rem;
	letter-spacing: 0.03em;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	border-bottom: 2px solid #D3D3D3;
	@include placeholder(#fff);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		@include placeholder(transparent);
	}

	@media (min-width: $screen-md-min) {
		height: 35px;
		padding: 1px 0 5px 0;
		font-size: 2.4rem;
		line-height: 2.7rem;
	}
}

textarea.form_control {
	height: 58px;
	padding: 4px 10px;
	border: 2px solid #D3D3D3;

	@media (min-width: $screen-md-min) {
		height: 119px;
		padding: 8px 15px;
	}

	@media (min-width: $screen-lg-min) {
		height: 58px;
	}

	@media (min-width: $screen-xxl-min) {
		height: 119px;
	}
}

.form_group {
	position: relative;
	margin-bottom: 8px;

	&:after,
	&:before {
		top: 50%;
		right: 0;
		z-index: 1;
		width: 15px;
		height: 15px;
		content: "";
		display: block;
		margin-top: -8px;
		position: absolute;

		opacity: 0;
		visibility: hidden;
	}

	&:after {
		background: url("../img/icon__error.svg") 50% 50% no-repeat;
	}

	&:before {
		background: url("../img/icon__good.svg") 50% 50% no-repeat;
	}

	&.error {

		&:before {
			opacity: 1;
			visibility: visible;
		}
	}

	&.good {

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 33px;

		&.error {

			.form_error {
				display: block;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 20px;
	}

	@media (min-width: $screen-xxl-min) {
		margin-bottom: 33px;
	}

}


.form_error {
	top: 100%;
	left: 0;
	color: #FF4848;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 2.2rem;
	position: absolute;
	display: none;
}

.form_checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	position: relative;
	display: inline-block;

	input {
		top: 0;
		left: 0;
		padding: 0;
		width: 1px;
		opacity: 0;
		z-index: -1;
		height: 1px;
		display: block;
		position: absolute;
		visibility: hidden;
	}

	span {
		color: #fff;
		cursor: pointer;
		font-size: 1.4rem;
		line-height: 2.6rem;
		position: relative;
		display: inline-block;
		padding: 0 0 0 27px;
		letter-spacing: 0.03em;

		&:before {
			left: 0;
			top: 3px;
			z-index: 1;
			content: '';
			width: 20px;
			height: 20px;
			position: absolute;
			display: inline-block;
			border: 2px solid #D3D3D3;
		}

		&:after {
			top: 3px;
			left: 0;
			opacity: 0;
			z-index: 2;
			content: '';
			width: 20px;
			height: 20px;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__checkbox.svg") 50% 50% no-repeat;
		}
	}

	input:checked + span {

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}


	@media (min-width: $screen-md-min) {

		span {
			font-size: 2.4rem;
			line-height: 3rem;
			padding-left: 40px;

			&:before {
				top: 0;
				width: 30px;
				height: 30px;
			}

			&:after {
				top: 0;
				width: 30px;
				height: 30px;
				background-size: 70% 70%;
			}
		}
	}
}

.form_label {
	display: block;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 2rem;
	margin-bottom: 5px;
	letter-spacing: 0.03em;

	@media (min-width: $screen-md-min) {
		font-size: 2.4rem;
		line-height: 2.7rem;
	}
}